<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>来場者カウンター</h1>
    <form>
        <label>
            <input type="radio" name="direction_option" value="to_left">
            <span class="radio-custom"></span>
            流出（左 ← 右）
        </label>
        <label>
            <input type="radio" name="direction_option" value="to_right">
            <span class="radio-custom"></span>
            流入（左 → 右）
        </label>
        <label>
            <input type="radio" name="direction_option" value="unknown">
            <span class="radio-custom"></span>
            不明
        </label>
        <label>
            <input type="radio" name="direction_option" value="total" checked>
            <span class="radio-custom"></span>
            合計
        </label>
    </form>
    


    <script src="main.js"></script>
</body>
</html>
